/* * {
    border: 1px solid lightpink;
} */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
.top, 
.mid-images, 
.mid-reviews,  
footer {
    padding: 0px 120px 0px 120px;
    flex: 10;
}

header,
footer,
.top {
    background-color: #1F2937;
}

header{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 0 10px 0;
}

.header-right {
    display: flex;
    align-items: center;
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    padding: 0 0 0 10px;
}

.top {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
}

.top-right img {
    max-width: 400px;
    height: auto; 
}

.top-left .text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.top-left .bold {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.mid-images {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mid-images .text {
    margin-bottom: 30px;
}

.mid-images .cards {
    display: flex;
    gap: 40px;
}

.mid-images .card {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 100;
    align-items: center;
    text-align: center;
    width: 170px;
}

.card img {
    width: 170px;
    height: 170px; 
    object-fit: cover;
    border-radius: 8px;
}

.mid-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    min-height: 300px;
}

.mid-reviews .author {
    font-size: 25px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
}

.mid-reviews .text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border:none;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1a3258;
    font-size: 16px;
}

.mid-signup {
    margin: 60px 120px 60px 120px;
    padding: 30px 60px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.mid-signup span{
    font-weight: 900;
}

.mid-signup button {
    border:1px solid #F9FAF8;

}

Button:hover {
	background-color:#2758a7;
}

Button:active {
	position:relative;
	top:1px;
}

footer {
    flex: 4;
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
