* {
    border: 1px solid lightpink;
}

body {
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

header,
.top, 
.mid-images, 
.mid-reviews, 
.mid-signup, 
footer {
    padding: 0px 120px 0px 120px;
    flex: 10;
}

header,
footer,
.top {
    background-color: #1F2937;
}



header{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 0 10px 0;
}

.header-right {
    display: flex;
    align-items: center;
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    padding: 0 0 0 10px;
}

.top-left .text {
    font-size: 18px;
    color: #E5E7EB;
}

.top-left .bold {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.mid-images {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.mid-images .card {
    font-size: 18px;
    font-weight: 100;
}



.mid-reviews {
    background-color: #E5E7EB;
}

.mid-reviews .author {
    font-size: 25px;
    font-weight: bold;
    color: #1F2937;
}

.mid-reviews .text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.mid-signup {
    background-color: #3882F6;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border:none;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1a3258;

}

.mid-signup button {
    border:1px solid #F9FAF8;

}

Button:hover {
	background-color:#2758a7;
}

Button:active {
	position:relative;
	top:1px;
}

footer {
    flex: 4;
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}
